---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Section from "../../components/Section.astro";
import PageHeader from "../../components/PageHeader.astro";
import AllNotesListItem from "../../components/AllNotesListItem.astro";
import Back from "../../components/Back.astro";

export async function getStaticPaths() {
  const allNotes = await Astro.glob("../notes/*.md"); //returns an array of objects
  const uniqueTags = [
    ...new Set(allNotes.map((note) => note.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredNotes = allNotes.filter((note) =>
      note.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { notes: filteredNotes },
    };
  });
}

const { tag } = Astro.params;
const { notes, tags } = Astro.props;
---

<BaseLayout page={tags}>
  <PageHeader url="/notes" title={tag} />
  <Section>
    <ul role="list">
      {
        notes.map((note) => (
          <AllNotesListItem
            title={note.frontmatter.title}
            url={note.url}
            tags={note.frontmatter.tags}
            pubDate={note.frontmatter.pubDate}
          />
        ))
      }
    </ul>
  </Section>
</BaseLayout>

<style>
  h3 {
    text-align: center;
  }
</style>
